@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  src: local('Bitter-Regular'), url(../fonts/bitter.ttf) format('truetype');
}

body {
  background: #ddd;
  font-family: Bitter, sans-serif;
}

main {
  padding: 20px 20px 0px 20px;
  background: #fff;
  padding-bottom: 40px;
  min-width: 480px;
  box-shadow: 0 1px 5px;
}

@media only screen and (min-width: 768px) {
  header {
    width: 80%;
    margin: auto;
  }

  main {
    width: 80%;
    margin: auto;
  }
}

@media only screen and (max-width: 767px) {
  header {
    width: 100%;
    margin: auto;
  }

  main {
    width: 100%;
    margin: auto;
  }
}
